<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart list</title>
</head>
<body>
    {% for i in cart_list %}
    <ol>
        <li>
            <h1>{{i.phone_number}}</h1>
            <p>{{i.name}}</p>
            <p>{{i.city}}</p>
            <p>{{i.email}}</p>
            <img src="{{i.book.image.url}}" alt="">
            <button><a href="/cart_list/{{ i.id }}/">Подробнее</a></button>
            <button><a href="/cart_list/{{ i.id }}/delete/">Удалить с корзины</a></button>
            <button><a href="/cart_list/{{ i.id }}/update/">Изменить</a></button>
            <button><a href="/add_to_cart/">Добавить в корзину</a></button>
        </li>
    </ol>   
    {% endfor %}
</body>
</html>